body { 
    margin: 0; 
    background-color: black;
	font-size: 1em;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
}
@media only screen and (max-width: 850px) {
	body {
	  font-size: 1.25em;
	}
  }

.button i{
    -webkit-transition: transform 0.25s ease-out;
    -moz-transition: transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
}

.button-med {
    font-size: 3em;
}

.btn-round {
    border-radius: 100%;
    width: 4em;
    height: 4em;
}

.rotated i { 
    transform:scale(.5); 
    -webkit-transform:scale(1, .5); 
    -moz-transform:scale(1, .5); 
    -o-transform:scale(1, .5); 
}
.button {
	margin: 15px;
	border-radius: 100%;
    width: 4em;
    height: 4em;
	font-size: .75em;
	border-color: transparent;
	background-color: white;
}
#buttons {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	gap: 1em;
	justify-content: center;
}
.landscape {
	width: 100%;
	justify-content: center;

}
.portrait {
	flex-direction: column;
	height: 100%;
}
