body { 
    margin: 0; 
    background-color: rgb(23, 35, 71);
}

.btn i{
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.button-med {
    font-size: 75px;
}

.btn-round {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.rotated i { 
    transform:scale(.5); 
    -webkit-transform:scale(1, .5); 
    -moz-transform:scale(1, .5); 
    -o-transform:scale(1, .5); 
}
.buttons {
	display: flex;
	position: fixed;
	top: 1em;
	width: 100%;
	justify-content: center;

}
