<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>3d Modeler</title>
    <script src="https://kit.fontawesome.com/aac013ae98.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/css/vars.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>

<body>
    <canvas id="c"></canvas>
    <script type='module' src="static/js/canvas.js"></script>
    <script src="static/js/main.js" defer></script>
    <script type = 'module' src="static/js/magic.js" defer></script>


    <div id='buttons' class=''>
        <button type="button" class="button" id="arrow-button">
				<i class="fas fa-arrows-alt-v button-med" id = "arrow-button-icon"></i>
			</button>
        <button type="button" class="button" id="magic-button">
				<i class="fas fa-magic button-med"></i>
			</button>
        <button type="button" class="button" id="exp-button">
				<i class="far fa-save button-med"></i>
	</div>

	<div>

		<!-- Loading Modal -->
		<div class="block-screen" id="modal">
			<div class="loader"></div>
		</div>

    </div>

</body>

</html>